<a href="https://colab.research.google.com/github/Yuganthi1995/Biostat/blob/master/Biostatistics_lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# print command use for print something
print ('Hello World')

Hello World

In [ ]:
# we can find the true false about a condition 
2>3

False

In [ ]:
# two types to make comments this is the first one and second one is

In [ ]:
'''
JDKASC
'''

'\nJDKASC\n'

In [ ]:
#Variables

age = 30

In [ ]:
age

30

In [ ]:
age , name = 30 , 'peter'

In [ ]:
name

'peter'

A variable name in Python can only contain letters (a - z, A - B),
numbers or underscores (_). However, the first character cannot be
a number. Hence, you can name your variables userName,
user_name or userName2 but not 2userName.

In [ ]:
# assignment
x = 5
y = 10
x = y
print ("x = ", x)
print ("y = ", y)

x =  10
y =  10

In [ ]:
#basic operators
x = 5
y = 2

In [ ]:
x+y

7

In [ ]:
# expoenent 
x**y

25

In [ ]:
x=10
x=x+2

In [ ]:
x

12

Instead of writing x = x + 2, we can also write x += 2 to express
the same meaning. The += sign is actually a shorthand that
combines the assignment sign with the addition operator. Hence, x
+= 2 simply means x = x + 2.

In [ ]:
x+=2

In [ ]:
x

14

To declare a string, you can either use variableName =
‘initial value’ (single quotes) or variableName =
“initial value” (double quotes)

In [ ]:
userName = 'Peter'
userSpouseName = "Janet",
userAge = '30'

In [ ]:
# convert all charasters into upercases
userName.upper()

'PETER'

In [ ]:
# formatting using % operator
brand = 'Apple'
exchangeRate = 1.235235245

In [ ]:
message = 'The price of this %s laptop is %d USD and the exchange rate is %4.2f USD to 1 EUR' %(brand, 1299, exchangeRate)

In [ ]:
print(message)

The price of this Apple laptop is 1299 USD and the exchange rate is 1.24 USD to 1 EUR

In [ ]:
#type casting
str(2.1)

'2.1'

In [ ]:
#List
userAge = [21, 22, 23, 24, 25]

In [ ]:
userAge[0]

21

In [ ]:
userAge[-1]

25

In [ ]:
# declare a empty variable and then we can use append() to add some items into our variable
listName = []

In [ ]:
userAge.append('hello')

In [ ]:
userAge

[21, 22, 23, 24, 25, 'hello']

In [ ]:
# delete a value
del userAge[5]

In [ ]:
userAge

[21, 22, 23, 24, 25]

In [ ]:
#dictionery
myDictionary = {'Peter':38, 'John':51, 'Peter':13}

In [ ]:
myDictionary

{'John': 51, 'Peter': 13}

In [ ]:
#different data typoes
myDict = {'One':1.35, 2.5:'Two Point Five', 3:'+',7.9:2}

In [ ]:
myDict

{2.5: 'Two Point Five', 3: '+', 7.9: 2, 'One': 1.35}

# Make interactve for session

In [ ]:
myName = input("Please enter your name: ")
myAge = input("What about your age: ")

Please enter your name: Niranga
What about your age: 20

In [ ]:
# pring a long message
print (''' Hello World.My name is James andI am 20 years old.''')

 Hello World.My name is James andI am 20 years old.

In [ ]:
# If condition
userInput = input('Enter 1 or 2: ')
if userInput == "1":
  print ("Hello World")
  print ('How are you?')
elif userInput == "2":
  print ("Python Rocks!")
  print ('I love Python')
else:
  print ("You did not enter a valid number")

Enter 1 or 2: 5
You did not enter a valid number

In [ ]:
#for loop
pets = ['cats', 'dogs', 'rabbits', 'hamsters']
for myPets in pets:
  print (myPets)

cats
dogs
rabbits
hamsters

In [ ]:
for index, myPets in enumerate(pets):
  print (index, myPets)

0 cats
1 dogs
2 rabbits
3 hamsters

In [ ]:
for i in range(5):
  print (i)

0
1
2
3
4

In [ ]:
#while loop
counter = 5

while counter > 0:
  print('Counter = ', counter)
  counter = counter - 1

Counter =  5
Counter =  4
Counter =  3
Counter =  2
Counter =  1

In [ ]:
#break

j = 0
for i in range(5):
  j += 2
  print ('i = ', i, ', j = ', j)
  if j == 6:
    break

i =  0 , j =  2
i =  1 , j =  4
i =  2 , j =  6

In [ ]:
#continue
j = 0
for i in range(5):
  j = j + 2
  print ('\ni = ', i, ', j = ', j)
  if j == 6:
        continue
  print ('I will be skipped over if j=6')

i =  0 , j =  2
I will be skipped over if j=6

i =  1 , j =  4
I will be skipped over if j=6

i =  2 , j =  6

i =  3 , j =  8
I will be skipped over if j=6

i =  4 , j =  10
I will be skipped over if j=6

In [ ]:
def checkIfPrime (numberToCheck):
  for x in range(2, numberToCheck):
    if (numberToCheck%x == 0):
      return False
  return True

In [ ]:
answer = checkIfPrime(13)

In [ ]:
answer

True

In [ ]:
checkIfPrime(10)

False

In [ ]:
# creating our own module

def checkIfPrime (numberToCheck):
  for x in range(2, numberToCheck):
    if (numberToCheck%x == 0):
      return False
  return True

In [ ]:
''' Next, create another Python file and name it
useCheckIfPrime.py. Save it on your desktop as well.
useCheckIfPrime.py should have the following code.
import prime
answer = prime.checkIfPrime(13)
print (answer) '''

# **Python Command Lines**

In [ ]:
# This is a comment.

In [ ]:
2 + 3 - 36 / 2 - 5 
# Simple arithmetic.

-18.0

In [ ]:
2**5 
# Exponentiation.

32

In [ ]:
2**0.5 
# Fractional powers.

1.4142135623730951

In [ ]:
x = 3 # Assign a variable.

In [ ]:
x**2 + 1 # Work with the variable.

10

In [ ]:
type(x) # x is type (class) integer.

int

In [ ]:
x1 = 4.2; x2 = 2.675; # Assign x1 and x2.

In [ ]:
type(x1) # x1 is float.

float

In [ ]:
int(x1) # Truncates to integer.

4

In [ ]:
-7 // 3 # Floor division.

-3

In [ ]:
round(x2, 2) # Floating point arithmetic.

2.67

In [ ]:
z1=2 + 3j; z2 = 3 - 1j # Assign z1 and z2. complex numbers

In [ ]:
type(z1) # z1 is class complex.

complex

In [ ]:
z1**2 - 2 * z2 # Complex arithmetic.

(-11+14j)

In [ ]:
abs(z1) # The modulus.

3.605551275463989

In [ ]:
z1.real # The real part of z1.

2.0

In [ ]:
z1.imag # Imaginary part of z1.

3.0

In [ ]:
z1.conjugate() # The complex conjugate.

(2-3j)

In [ ]:
a=[1, 2, 3, 4, 5] # A list of integers.

# **A Tutorial Introduction to Python**

In [ ]:
type(a) # Determine a is a list.

list

In [ ]:
a[0] # 1st element, 0 based indexing.

1

In [ ]:
a[-1] # The last element.

5

In [ ]:
len(a) # The number of elements.

5

In [ ]:
min(a) # The smallest element.

1

In [ ]:
max(a) # The largest element.

5

In [ ]:
5 in a # True, 5 is in the list a.

True

In [ ]:
2 * a # [1,2,3,4,5,1,2,3,4,5].

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
a.append(6) # Now a=[1,2,3,4,5,6].

In [ ]:
a.remove(6) # Removes the first 6 found.

In [ ]:
print(a) # Prints the list
a=[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
a[1 : 3] # Slice to get the list [2,3].

[2, 3]

In [ ]:
range(10) # A range object zero to nine.

range(0, 10)

In [ ]:

list(range(5)) # A list [0,1,2,3,4].

[0, 1, 2, 3, 4]

In [ ]:
list(range(4, 9)) # A list [4,5,6,7,8].

[4, 5, 6, 7, 8]

In [ ]:
A=[[1, 2], [3, 4]] # A list of lists.

In [ ]:
A[0] # The first list [1,2].

[1, 2]

In [ ]:
A[0][1] # Second element in list 1.

2

In [ ]:
import math # # Import all under name space math.

In [ ]:
from math import sin # Import sine command only.

In [ ]:
from math import * # Import all math commands.

In [ ]:
sin(pi) # Sine function.

1.2246467991473532e-16

In [ ]:
acos(0) # Inverse cosine.

1.5707963267948966

In [ ]:
exp(0.3) # Exponential function.

1.3498588075760032

In [ ]:
log10(0.3) # Log base 10.

-0.5228787452803376

In [ ]:
floor(2.35) # Return floor as integer.

2